{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="firstname">{{ user.FirstName }}</div>
        <div class="lastname">{{ user.LastName }}</div>
        <div class="email">{{ user.email }}</div>
        <div class="edit"><a href="{{ path('user_edit') }}">Modifier</a></div>
    </div>
{% endblock %}